<h2 class="text-center mt-4">Editar Producto</h2>

<div class="form-container">
    <form action="/editar-producto/{{producto.id}}" method="POST" class="formulario" enctype="multipart/form-data">
        <label>Nombre</label>
        <input type="text" name="nombre" value="{{producto.nombre}}" required>

        <label>Descripción</label>
        <textarea name="descripcion">{{producto.descripcion}}</textarea>

        <label>Precio($)</label>
        <input type="number" name="precio" value="{{producto.precio}}" required>

        <label>Categoría</label>
        <select name="CategoriaId" required>
            {{#each categorias}}
                <option value="{{this.id}}" {{#if (eq this.id ../producto.CategoriaId)}}selected{{/if}}>
                    {{this.nombre}}
                </option>
            {{/each}}
        </select>

        <label>Imagen Actual</label>
        {{#if producto.imagen}}
            <img src="/img/productos/{{producto.imagen}}" width="100" class="mb-2">
        {{/if}}
        
        <label>Cambiar Imagen (Opcional)</label>
        <input type="file" name="imagen" accept="image/*">

        <button type="submit" class="btn-guardar">Actualizar Producto</button>
    </form>
</div>