<h2 class="text-center mt-4">Productos</h2>

<div class="nuevaCategoria">
    <a href="/crear-categoria" class="btn-crear">+ Crear Categoria</a>

</div>

<section class="grid">

    {{#if products}}

    {{#each products}}
    <div class="card">
        <h3>{{this.nombre}}</h3>

        <p>{{this.descripcion}}</p>

        <p class="precio">$ {{this.precio}}</p>

        <span class="crear-categoria">
            {{this.Categoria.nombre}}
        </span>

        <div class="acciones">
            <a href="/editar-producto/{{this.id}}" class="btn-editar">Editar</a>

            <form action="/eliminar-producto/{{this.id}}" method="POST" onsubmit="return confirm('¿Eliminar este producto?')">
                <button type="submit" class="btn-eliminar">Eliminar</button>
            </form>
        </div>
    </div>
    {{/each}}

    {{else}}
    <p class="text-center">No hay productos disponibles 😢</p>
    {{/if}}

</section>